<article class="total-sales">
  <header class="total-sales__title">
    <h1 class="total-sales__title-caption">Total de ventas de {{filter}}</h1>
    <section class="total-sales__title-info">
      <span class="total-sales__title-info-span">Este es el total que vendiste durante {{filter}}</span>
      <img class="total-sales__title-info-image" src="assets/images/icons/info.svg" alt="Información">
    </section>
  </header>

  <footer class="total-sales__amount">
    <h3 class="total-sales__amount-price">{{ totals | currency : 'COP' : 'symbol' : '4.0-2' : 'es-CO' }}</h3>
    <p class="total-sales__amount-date">{{currentDate | date : 'MMMM, y' | titlecase}}</p>
  </footer>
</article>
