<article class="sales-list">
  <h1 class="sales-list__title">Tus ventas de </h1>

  <header class="sales-list__header">
    <ul class="sales-list__header--row">
      <li class="sales-list__header--row-title">Transacción</li>
      <li class="sales-list__header--row-title">Fecha y hora</li>
      <li class="sales-list__header--row-title">Método de pago</li>
      <li class="sales-list__header--row-title">ID transacción Bold</li>
      <li class="sales-list__header--row-title">Monto</li>
    </ul>
  </header>

  <section class="sales-list__body">
    <ul class="sales-list__body--row">
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/datafono.svg" alt="método de pago">
          skdjaskd
        </span>
      </li>
      <li class="sales-list__body--row-text">dsfdf</li>
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/visa.svg" alt="método de pago">
          sdfdsf
        </span>
      </li>
      <li class="sales-list__body--row-text">sdfdsf</li>
      <li class="sales-list__body--row-text">sdfdsf</li>
    </ul>
    <ul class="sales-list__body--row">
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/datafono.svg" alt="método de pago">
          skdjaskd
        </span>
      </li>
      <li class="sales-list__body--row-text">dsfdf</li>
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/visa.svg" alt="método de pago">
          sdfdsf
        </span>
      </li>
      <li class="sales-list__body--row-text">sdfdsf</li>
      <li class="sales-list__body--row-text">
        <ul class="sales-list__body--row-text-discounts">
          <li class="sales-list__body--row-text-discounts-price">56465</li>
          <li class="sales-list__body--row-text-discounts-concept">dsddda</li>
          <li class="sales-list__body--row-text-discounts-amount">-15151</li>
        </ul>
      </li>
    </ul>
    <ul class="sales-list__body--row">
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/datafono.svg" alt="método de pago">
          skdjaskd
        </span>
      </li>
      <li class="sales-list__body--row-text">dsfdf</li>
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/visa.svg" alt="método de pago">
          sdfdsf
        </span>
      </li>
      <li class="sales-list__body--row-text">sdfdsf</li>
      <li class="sales-list__body--row-text">sdfdsf</li>
    </ul>
    <ul class="sales-list__body--row">
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/datafono.svg" alt="método de pago">
          skdjaskd
        </span>
      </li>
      <li class="sales-list__body--row-text">dsfdf</li>
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/visa.svg" alt="método de pago">
          sdfdsf
        </span>
      </li>
      <li class="sales-list__body--row-text">sdfdsf</li>
      <li class="sales-list__body--row-text">sdfdsf</li>
    </ul>
    <ul class="sales-list__body--row">
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/datafono.svg" alt="método de pago">
          skdjaskd
        </span>
      </li>
      <li class="sales-list__body--row-text">dsfdf</li>
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/visa.svg" alt="método de pago">
          sdfdsf
        </span>
      </li>
      <li class="sales-list__body--row-text">sdfdsf</li>
      <li class="sales-list__body--row-text">sdfdsf</li>
    </ul>
    <ul class="sales-list__body--row">
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/datafono.svg" alt="método de pago">
          skdjaskd
        </span>
      </li>
      <li class="sales-list__body--row-text">dsfdf</li>
      <li class="sales-list__body--row-text">
        <span class="sales-list__body--row-icon">
          <img src="assets/images/icons/visa.svg" alt="método de pago">
          sdfdsf
        </span>
      </li>
      <li class="sales-list__body--row-text">sdfdsf</li>
      <li class="sales-list__body--row-text">sdfdsf</li>
    </ul>
  </section>
</article>
