:root {
  // Body
  --black: #505050;
  --lightgrey: #F5F5F8;
  --grey: #E4E5EC;
  --darkgrey: #969696;
  --red: #E37174;
  --purple: #B16578;
  --darkpurple: #81395B;
  --blue: #122268;
  --lightblue: #202F71;
}
